BUNDLE_IDENTIFIER=local.codex.hover-pocket
GOOGLE_SIGN_IN_CLIENT_ID=
GOOGLE_SIGN_IN_REVERSED_CLIENT_ID=
GOOGLE_OAUTH_ENABLE_LEGACY_FALLBACK=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SPARKLE_FEED_URL=
SPARKLE_PUBLIC_ED_KEY=J2afuh/KnvOiS3eoNrMJoCyldAXL+Oku9scoSS5OUJE=
SPARKLE_ACCOUNT=hover-pocket
