BUNDLE_IDENTIFIER=local.codex.hover-pocket
GOOGLE_SIGN_IN_CLIENT_ID=
GOOGLE_SIGN_IN_REVERSED_CLIENT_ID=
GOOGLE_OAUTH_ENABLE_LEGACY_FALLBACK=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_ENABLE_CHROME_OVERRIDE=
GOOGLE_OAUTH_CHROME_PROFILE=
GOOGLE_OAUTH_CHROME_USER_DATA_DIR=
GOOGLE_OAUTH_CHROME_REMOTE_DEBUGGING_PORT=
SPARKLE_FEED_URL=https://github.com/shotaro311/hover-pocket/releases/latest/download/appcast.xml
SPARKLE_PUBLIC_ED_KEY=J2afuh/KnvOiS3eoNrMJoCyldAXL+Oku9scoSS5OUJE=
SPARKLE_ACCOUNT=hover-pocket
